<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content [fullscreen]="true" >
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- Reciept top-half -->

  <section class="bg_color-dark-1">
    <header class="mobile-header">
      <div class="header-box">
        <input type="checkbox" name="check" id="check">
        <div class="logo-container">
          <img src="../../../assets/home-logo.png" style="width: 145px;">
        </div>

        <div class="nav-btn">
          <div class="nav-links">
            <ul>
              <li class="nav-link" style="--i: .6s">
                <a>Home</a>
              </li>
              <li class="nav-link" style="--i: .6s">
                <a>About Us</a>
              </li>
              <li class="nav-link" style="--i: .6s">
                <a>Chef</a>
              </li>
              <li class="nav-link" style="--i: .6s">
                <a>Services</a>
              </li>
              <li class="nav-link" style="--i: .6s">
                <a>menu</a>
              </li>
              <li class="nav-link" style="--i: .6s" >
                <a>Logout</a>
              </li>
            </ul>
          </div>

          <div class="log-sign desktop" style="--i: 1.8s">
            <span class="fa-stack fa-2x has-badge" data-count="5">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
            </span>
          </div>
        </div>

        <div class="hamburger-menu-container">
          <div class="header-social-links">
        <div class="cart-icon" onclick="toggleCart()">
          <img src="https://cdn-icons-png.flaticon.com/512/777/777205.png" style="width: 30px;">
          <span class="cart-count">0</span>
        </div>
       
      </div>
          <div class="hamburger-menu">
            <div></div>
          </div>
        </div>
      </div>
    </header>

    </section>
</ion-content>