.website-body{
    
    scroll-behavior: smooth;
    overflow: auto;
    height: 100%;
    
}    
/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services .img {
  border-radius: 8px;
  overflow: hidden;
}

.featured-services .img img {
  transition: 0.6s;
}

.featured-services .details {
  background: color-mix(in srgb, #fff, transparent 5%);
  padding: 20px 15px;
  margin: -42px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  position: relative;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.1);
}

.featured-services .details .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: #fdc134;
  color: #fff;
  border: 6px solid #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
}

.featured-services .details h3 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.featured-services .details p {
  color: color-mix(in srgb, #444444, transparent 10%);
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.featured-services .service-item:hover .details h3 {
  color: #fdc134;
}

.featured-services .service-item:hover .details .icon {
  background: #fff;
  border: 2px solid #fdc134;
}

.featured-services .service-item:hover .details .icon i {
  color: #fdc134;
}

.featured-services .service-item:hover .img img {
  transform: scale(1.2);
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .features-item {
  color: color-mix(in srgb, #444444, transparent 20%);
}

.features .features-item+.features-item {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .features .features-item+.features-item {
    margin-top: 40px;
  }
}

.features .features-item h3 {
  font-weight: 700;
  font-size: 26px;
}

.features .features-item ul {
  list-style: none;
  padding: 0;
}

.features .features-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.features .features-item ul li:last-child {
  padding-bottom: 0;
}

.features .features-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #fdc134;
}

.features .features-item p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .service-item {
  background-color: #fff;
  padding: 50px 30px;
  margin-top: 36px;
  transition: all ease-in-out 0.3s;
  position: relative;
  border: 1px solid color-mix(in srgb, #444444, transparent 85%);
  text-align: center;
}

.services .service-item .icon {
  background: #fdc134;
  color: #fff;
  margin: 0;
  width: 72px;
  height: 72px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid var(--background-color);
}

.services .service-item h3 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item:hover {
  background: var(--background-color);
}

.services .service-item:hover h3 {
  color: #fdc134;
}

.services .service-item:hover .icon {
  background: #fff;
  border: 2px solid #fdc134;
}

.services .service-item:hover .icon i {
  color: #fdc134;
}
section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-title h2:before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb, #444444, transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #fdc134;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
}
