<ion-header>
  <ion-toolbar class="custom-toolbar">
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button (click)="gottoHome()"></ion-back-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title class="custom-title">Event Details</ion-title>

    <!-- Cart Button with Badge -->
    <ion-buttons slot="end" *ngIf="from != 'websitehome'">
      <span class="fa-stack fa-2x has-badge" data-count="5">
  <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
  <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">eventDetails</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <!-- Select Event Menu Start -->

<section class="about" style="display: none;">
                <div class="container">
                    <div class="about-top">
                        <h2 class="h2 section-title">What we do</h2>

                        <p class="section-text">Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back into the development of the asset through its charitable foundation</p>

                        <ul class="about-list">
                            <li>
                                <div class="about-card">
                                    <div class="card-icon"><ion-icon name="briefcase-outline" role="img" class="md hydrated"></ion-icon></div>

                                    <h3 class="h3 card-title">Paid Search and Social Management</h3>

                                    <p class="card-text">Help your business increase their visibility and reach targeted audiences effectively</p>
                                </div>
                            </li>

                            <li>
                                <div class="about-card">
                                    <div class="card-icon"><ion-icon name="chatbubbles-outline" role="img" class="md hydrated"></ion-icon></div>

                                    <h3 class="h3 card-title">Direct Response Content</h3>

                                    <p class="card-text">Drive immediate engagement and conversions, prompting your audience to act right away</p>
                                </div>
                            </li>

                            <li>
                                <div class="about-card">
                                    <div class="card-icon"><ion-icon name="rocket-outline" role="img" class="md hydrated"></ion-icon></div>

                                    <h3 class="h3 card-title"><abbr title="Conversion Rate Optimization">CRO</abbr> and Retention Optimizations</h3>

                                    <p class="card-text">By optimizing both conversion rates and customer retention, your business will significantly boost their overall revenue</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="about-bottom">
                        <figure class="about-bottom-banner">
                            <img src="https://i.postimg.cc/nzjhFvtq/about-banner.png" alt="about banner" class="about-banner">
                        </figure>

                        <div class="about-bottom-content">
                            <h2 class="h2 section-title">We're obsessed with growth</h2>

                            <p class="section-text">Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back</p>

                            <button class="btn btn-secondary">Sign up for Free</button>
                        </div>
                    </div>
                </div>
            </section>
<div class="">
			<div class="">
				<div class="row">
					<div class="col-md-12">
						
<section class="Event-Menu-List-section">
  <div class="Event-Menu-List">
              <div class="Event-Menu-List-img">
                <img
                  src="../../../assets/Events/1.png"
                  alt="thumb">

                

              </div>

              <div class="popular-inner-box">
                
      	<form class="form">
	  <div class="form-group">
		  <div class="relative">
			  <input class="form-control" id="name" type="date" pattern="[a-zA-Z\s]+" required="" autofocus="" title="Username should only contain letters. e.g. Piyush Gupta" autocomplete="" placeholder="Type your name here...">
			  <i class="fa fa-calendar"></i>
		  </div>
	  </div>
	  
	  
	  <div class="form-group">
	  	<div class="relative">
	  		<input class="form-control" type="text" required="" placeholder="How Many Members">
	  		<i class="fa fa-user"></i>
	  	</div>
	  </div>
    <div class="form-group">
	  	<div class="relative">
	  		<input class="form-control" type="text" required="" placeholder="How Many Veg Members">
	  		<i class="fa fa-user"></i>
	  	</div>
	  </div>
    <div class="form-group">
	  	<div class="relative">
	  		<input class="form-control" type="text" required="" placeholder="How Many Non-Veg Members">
	  		<i class="fa fa-user"></i>
	  	</div>
	  </div>
	  <!-- <div class="form-group">
	  	<div class="relative">
	  	<input class="form-control" type="text" id="menu" required="" placeholder="Edit Your Menu">
	  	<i class="fa fa-suitcase"></i>
	  </div>	
	  </div>
		<div class="form-group">
	  	<div class="relative">
	  		<input class="form-control" type="text" id="chef" required="" placeholder="Edit Your Cheff">
	  		<i class="fa fa-user"></i>
	  	</div>
	  </div> -->
		<div class="form-group hidden">
      <button class="custom-btn btn-7"><span>Order Value : $25,000/-</span></button>
    </div>

    <div class="form-group">
      <button class="custom-btn btn-7" (click)="gotomenu()"><span>Select Your Menu</span></button>
    </div>

     <div class="tright hidden">
	  	<a href=""><button class="movebtn movebtnre" type="Reset"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back </button></a>
	  	<a href=""><button class="movebtn movebtnsu" type="Submit" (click)="gotomenu()">Proceed <i class="fa fa-fw fa-paper-plane"></i></button></a>
	  </div>
	 
	</form>

	
              </div>


            </div>
</section>
					</div>
				</div>
			</div>
</div>

  
  <!-- Select Event Menu End -->
</ion-content>
