
.pr-2{
  padding-right: 5px;
}
/* ===== COLOR VARIABLES ===== */



/* ===== BODY - BACKGROUND IMAGE ===== */

body {
  background: #9a90f5;
}

/* ===== Reusable CSS ===== */

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
}

/* ===== WRAPPER ===== */

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}

.login-box {
  position: relative;
  width: 450px;
  border: 3px solid #e4c815;
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  
}

.login-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4c815;
  width: 150px;
  height: 80px;
  border-radius: 0 0 20px 20px;
}

.login-header span {
  font-size: 25px;
  color: #fff;
}
.login-header img{
    width: 85px;
    // height: 100px;
}

.login-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 #e4c815;
}

.login-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 #e4c815;
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background: transparent;
  color: #000000;
  padding-inline: 20px 50px;
  border: 2px solid #e4c815;
  border-radius: 30px;
  outline: none;
}

#user {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: 12px;
  left: 20px;
  transition: 0.2s ease-in-out;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: #e4c815;
  border-radius: 30px;
  color: #fff;
  padding: 3px 10px;
}

.icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
}

.bx-hide {
  content: "\eb2c"; /* Hide icon */
}

.bx-show {
  content: "\eb25"; /* Show icon */
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.input-submit {
  width: 100%;
  height: 35px;
  background: #e4c815;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #fff;
}

.input-submit:hover {
  background: #1d0db2;
}

.register {
  text-align: center;
}

.register a {
  font-weight: 500;
}

a {
  color: #e4c815;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login-box {
    padding: 7.5em 1.5em 4em 2.5em;
  }
}

/* For tablets and larger phones */
@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 10px;
  }
  .login-box {
    width: 80%; /* Adjust width */
    padding: 5em 1.5em 1em 1.5em; /* Adjust padding */
  }
  .modal-content {
    width: 70%; /* Adjust modal width */
  }
}

/* For smaller screens like phones */
@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 0px;
  }
  .login-box {
    padding: 7.5em 1.5em 4em 2.5em;
  }
  .modal-content {
    width: 90%; /* Adjust modal width */
  }
  
    .remember-forgot {
   font-size: 11px;
   margin: 0 10px;
  }
/* Hide the default checkbox */
input[type="checkbox"] {
    width: 11px; /* Set width */
    height: 11px; /* Set height */
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  
}

.bg-orange{
  background: linear-gradient(to right, #FDDE90, #e4c815);
 
}



/** Select Event Menu CSS Start **/

@media (min-width: 300px) and (max-width: 776px) {

.Event-Menu-List {

  flex-direction: column !important;
}

}

.Event-Menu-List-section{
    padding: 30px 15px;
}
.Event-Menu-List {
  display: flex;
  gap: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
 border-radius: 12px;
 flex-direction: column;
 align-items: center;
}
.Event-Menu-List:hover .Event-Menu-List-img img {
  transform: scale(1.2);
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five {
  color: #fff;
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five span svg {
  stroke: currentColor;
  color: #fff;
  transition: all 0.3s;
}
.Event-Menu-List .Event-Menu-List-img {
  overflow: hidden;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  overflow: hidden;
  flex: 0 0 50%;
}
.Event-Menu-List .Event-Menu-List-img .Event-Menu-List-img-overlay {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 6px;
  background: rgba(0, 9, 41, 0.80);
  z-index: 11;
}
.Event-Menu-List .Event-Menu-List-img .Event-Menu-List-img-overlay .icon {
  line-height: 0;
}
.Event-Menu-List .Event-Menu-List-img .Event-Menu-List-img-overlay .text p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}
.Event-Menu-List .Event-Menu-List-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  animation: shine 4s linear infinite;
}
.Event-Menu-List .Event-Menu-List-img img {
  transition: all 0.3s ease-out 0s;
}
.Event-Menu-List .popular-inner-box {
      width: 100%;
    padding: 20px;
}
.Event-Menu-List .popular-inner-box .Event-Menu-List-text {
  padding: 0px 0 5px 0;
}
.Event-Menu-List .popular-inner-box .Event-Menu-List-text h3 {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  margin: 0 0 5px 0;
}
.Event-Menu-List .popular-inner-box .popular-inner-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.Event-Menu-List .popular-inner-box .popular-inner-item:last-child {
  margin-bottom: 0;
}
.Event-Menu-List .popular-inner-box .popular-inner-item .icon {
  line-height: 0;
}
.Event-Menu-List .popular-inner-box .popular-inner-item .text h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
  text-align: left;
}

@keyframes shine {
  100% {
    left: 125%;
  }
 }


/** Form CSS Start  **/
.form-group{
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4c815;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    
    border: 2px solid #bebed2;
    transition: all .3s;
}
.form p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
    transition: all .3s;
}
button {
    padding: 8px 12px;
    margin: 8px 0 0;
    
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}
button:hover {
    background: #78788c;
    color: #fff;
}
.tright{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ui-menu{
    max-height: 150px;
    overflow: auto;
}
.ui-menu .ui-menu-item{
    padding:5px;
    font-size: 14px;
}
.relative{
    position: relative;
}
.relative i.fa:before{
    color: #fff;
    padding: 10px;
    position: absolute;
    left: -3px;
    text-align: center;
}

.relative i.fa{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    width: 0;
    height: 0;
    z-index: 99;
    border-left: 20px solid transparent;
    border-right: 30px solid #e4c815;
    border-bottom: 34px solid #e4c815;
    transition: all 0.15s ease-in-out;

}
.form-control:focus{
    border-color: #e4c815;
    // box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(30, 102, 195);
}
.relative input:focus + i.fa{
    border-left: 20px solid transparent;
    border-right: 30px solid #e4c815;
    border-bottom: 34px solid #e4c815;
}
.relative input:focus + i.fa:before{
    color: #fff;
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child){
    border-radius: 0 4px 4px 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}

/* --- Thanks Message Popup --- */
.thanks{
    max-width: calc(100vw - 40px);
    width: 200px;
    height: auto;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .3s;
}
.thanks h4,
.thanks p{
    color: #fff;
    text-align: center;
}

/* --- Animated Buttons --- */
.movebtn{
    background-color: transparent;
    display:inline-block;
    width:auto;
    background-image: none;
    padding: 6px 22px;
    border-radius: 40px;
    margin-bottom:20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
}
.movebtnre {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color:#ff5501;
}
.movebtnsu {
    border: 2px solid #e4c815;
    box-shadow: inset 0 0 0 0 #e4c815;
    color: #e4c815;
}
.movebtnre:focus,
.movebtnre:hover,
.movebtnre:active {
    background-color: transparent;
    color: #FFF;
    border-color: #ff5501;
    box-shadow: inset 96px 0 0 0 #ff5501;
}
.movebtnsu:focus,
.movebtnsu:hover,
.movebtnsu:active {
    background-color: transparent;
    color: #FFF;
    border-color: #e4c815;
    box-shadow: inset 96px 0 0 0 #e4c815;
}


/* --- Media Queries --- */

@media only screen and (max-width: 600px) {
    p:before{
        content: attr(type);
        width: 100%
    }
    input{
        width: 100%;
    }
}


.custom-btn {
  width: 100%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
