<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<ion-content [fullscreen]="true">
  
   <div class="wrapper bg-orange" >
    <div class="login-box">
      <div class="login-header">
        <!-- <span>Login</span> -->
        <img src="../../../assets/logo.png">
      </div>
      <div class="input_box">
        <input type="text" id="user" class="input-field" required>
        <label for="user" class="label"><i class="fa fa-phone-square pr-2" aria-hidden="true"></i>Mobile Number
        </label>
      </div>
      <div class="input_box">
        <input type="password" id="pass" class="input-field" required oninput="checkPasswordStrength(this.value)">
        <label for="pass" class="label"><i class="fa fa-lock pr-2" aria-hidden="true"></i>Verify OTP</label>
        <i class="bx bx-lock-alt icon" id="togglePassword"></i>
      </div>
      <div id="passwordStrength" class="password-strength"></div>

      <div class="input_box">
        <input type="submit" class="input-submit" value="Login" (click)="handleLogin()">
      </div>
      
    </div>

  </div>
  




</ion-content>
