<ion-header>
  <ion-toolbar class="custom-toolbar">
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title class="custom-title">Order Confirm</ion-title>

    <!-- Cart Button with Badge -->
    <ion-buttons slot="end">
      <span class="fa-stack fa-2x has-badge" data-count="5">
  <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
  <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="payment-section bg-orange">
<div id="wrapper" class="payment">
  <div class="payment-card">
    <div class="payment-icon">
    </div>
    <h1>
      order confirmed!
    </h1>
    <p>
      Your order has been placed successfully
    </p>
     
  </div>
  <!-- Reciept bottom-half -->
  <div class="payment-card">
    <ul>
      
      <li>
        <span>Your order Event Date</span>
        <span>July 4, 2023</span>
      </li>
      <li>
        <span>payment on</span>
        <span>July 4, 2023</span>
      </li>
      <li>
        <span>Amount</span>
        <span>$99</span>
      </li>
    </ul>
  </div>
  <!-- Reciept CTA -->
  <div class="payment-card">
    <div class="cta-row">
      <button class="secondary" (click)="gotoHome()">
        Back to Home
      </button>
      <button>
        Next Booking
      </button>
    </div>
  </div>
</div>
</div>
</ion-content>
