
<!-- Mobile header -->
<ion-header *ngIf="isMobile">
  <ion-toolbar class="custom-toolbar">
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title class="custom-title">Order Confirm</ion-title>

    <!-- Cart Button with Badge -->
  <ion-buttons slot="end" style="    padding-right: 17px !important;
    padding-top: 8px;
">
      <div class="header-social-links">
        <div class="cart-icon" onclick="toggleCart()">
          <img src="https://cdn-icons-png.flaticon.com/512/777/777205.png" style="width: 30px;">
          <span class="cart-count">0</span>
        </div>
       
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Mobile header -->
<ion-content>
   <header id="header" class="header d-flex align-items-center sticky-top" *ngIf="!isMobile">
    <div
      class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="../../../assets/home-logo.png" style="width: 145px;">
      </a>

       <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>          
          <li><a href="#Events">Events</a></li>
          <li><a href="#services">Services</a></li>
          <li><a (click)="gotoOrders()">Orders</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-x"></i>
      </nav>

      <div class="header-social-links">
        <div class="cart-icon" onclick="toggleCart()">
          <img src="https://cdn-icons-png.flaticon.com/512/777/777205.png" style="width: 30px;">
          <span class="cart-count">0</span>
        </div>
        <div>|</div>
        <div class="">
          <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" style="width: 30px;">
        </div>
      </div>

    </div>
  </header>
  <div class="website-body" >
  <div class="payment-section bg_color-dark-1">
<div id="wrapper" class="payment">
  <div class="payment-card">
    <div class="payment-icon">
    </div>
    <h1>
      order confirmed!
    </h1>
    <p>
      Your order has been placed successfully
    </p>
     
  </div>
  <!-- Reciept bottom-half -->
  <div class="payment-card">
    <ul>
      
      <li>
        <span>Your order Event Date</span>
        <span>July 4, 2023</span>
      </li>
      <li>
        <span>payment on</span>
        <span>July 4, 2023</span>
      </li>
      <li>
        <span>Amount</span>
        <span>$99</span>
      </li>
    </ul>
  </div>
  <!-- Reciept CTA -->
  <div class="payment-card">
    <div class="cta-row">
      <button type="button" class="secondary" (click)="gotoHome()">
        Back to Home
      </button>
      <button type="button" (click)="gotoHome()">
        Next Booking
      </button>
    </div>
  </div>
</div>
</div>
</div>
<footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="../../../assets/home-logo.png" style="width: 145px;">
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta
            donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Marriage</a></li>
            <li><a href="#">Baby Shower</a></li>
            <li><a href="#">Engagement</a></li>
            <li><a href="#">Birthday</a></li>
            <li><a href="#">Puberty Ceremony</a></li>
            <li><a href="#">Funeral</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>infoexample.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>Copyright © 2025, All Right Reserved Bhagona</p>

    </div>

  </footer>
</ion-content>
