/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap'); 

*,body {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  //  font-family: "Noto Sans", sans-serif;
    font-family: "Exo", sans-serif;
}

.products{
  padding: 15px 0;
  background: #e4c815;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  
}

// .bg-orange,#background-content{
//   background: linear-gradient(to right, #FDDE90, #e4c815) !important;
//   height: -webkit-fill-available; 
 
// }
.Product-Card {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}
.Product-Card .card-inner {
    padding: 20px 20px;
    border-radius: 20px;
    background: linear-gradient(180.2deg, #ffffdb -8.53%, #ffffdb 109.43%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    // clip-path: polygon(0% 9.276%, 0% 9.276%, 0.157% 7.772%, 0.613% 6.344%, 1.342% 5.013%, 2.319% 3.798%, 3.52% 2.717%, 4.921% 1.79%, 6.496% 1.035%, 8.22% 0.473%, 10.07% 0.121%, 12.019% 0%, 87.981% 0%, 87.981% 0%, 89.93% 0.121%, 91.78% 0.473%, 93.504% 1.035%, 95.079% 1.79%, 96.48% 2.717%, 97.681% 3.798%, 98.658% 5.013%, 99.387% 6.344%, 99.843% 7.772%, 100% 9.276%, 100% 82.629%, 100% 82.629%, 99.99% 82.925%, 99.959% 83.219%, 99.909% 83.511%, 99.839% 83.799%, 99.749% 84.085%, 99.64% 84.366%, 99.512% 84.643%, 99.364% 84.914%, 99.198% 85.18%, 99.014% 85.439%, 90.069% 97.244%, 90.069% 97.244%, 89.65% 97.736%, 89.171% 98.186%, 88.638% 98.592%, 88.057% 98.951%, 87.432% 99.262%, 86.77% 99.521%, 86.074% 99.727%, 85.351% 99.877%, 84.606% 99.969%, 83.844% 100%, 12.019% 100%, 12.019% 100%, 10.07% 99.879%, 8.22% 99.527%, 6.496% 98.965%, 4.921% 98.21%, 3.52% 97.283%, 2.319% 96.202%, 1.342% 94.987%, 0.613% 93.656%, 0.157% 92.228%, 0% 90.724%, 0% 9.276%);
}
.Product-Card .card-inner .image-area {
    overflow: hidden;
    border-radius: 20px;
}
.Product-Card .card-inner .image-area::before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.Product-Card:hover .card-inner .image-area::before {
    -webkit-animation: circle 0.75s;
    animation: circle 0.95s;
}
.Product-Card .card-inner .image-area a {
    transition: all 0.5s ease;
}
.Product-Card:hover .card-inner .image-area a img {
    transform: scale(110%);
}
.Product-Card .card-inner .image-area a img {
    transform: scale(100%);
    transition: all 0.5s ease;
}
.Product-Card .card-inner .blog-content {
    margin-top: 20px;
    margin-bottom: 12px;
}
.Product-Card .card-inner .blog-content .tag {
    line-height: 1;
    // display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 9px 22px 7px;
    border: 1px solid #00000061;
    max-width: max-content;
    border-radius: 100px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
}
.Product-Card .card-inner .blog-content .tag img{
  width: 18px;
  height: 18px;
}
.Product-Card .card-inner .blog-content .title {
    text-transform: capitalize;
}
.Product-Card .blog-btn {
    width: 50px;
    height: 50px;
    line-height: 65px;
    border: 5px solid #fff;
    background-image: linear-gradient(to right, #e4c815 0%, #f6ba3d 50%, #e4c815 100%);
    background-size: 200% auto;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 1;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    transform: scale(100%);
    align-items: center;
    justify-content: center;
}
.Product-Card:hover .blog-btn {
    transform: rotate(45deg);
}



@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}



/** Menu CSS Start **/




.option_item {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 0px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 2px solid transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}


.option_item .option_inner .icon .fab {
  font-size: 32px;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked ~ .option_inner.facebook {
  border-color: #e4c815;
  color: #585c68;
}

.option_item .option_inner .tickmark {
  
    position: absolute;
    transform: scale(0.6) translate(-50%,-50%);
    transition: all 300ms ease;
    right: -10px;
    top: 10px;
    z-index: 1;
  display: none;
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}





/** Chef CSS Start **/
@media (min-width: 300px) and (max-width: 776px) {
  .payment-card{
    width:350px !important;
  }
  .single-cta i{
    font-size: 20px;
  }
  .col-sm-4{
    width: 50% !important;
    padding: 0 !important;
  }
  .col-sm-6,.col-md-12{
    padding: 0 !important;
  }
  .row{
    margin: 0 !important;
  }
  .Product-Card{
    margin:8px !important;
  }
  .Product-Card .card-inner .blog-content .tag img{
    display: none !important;
  }
  .Product-Card .card-inner .blog-content .tag{
    font-size: 11px;
  }
  .Product-Card .blog-btn{
    width: 35px;
    height: 35px;
  }
  .Product-Card .card-inner{
    padding: 10px;
    border-radius: 20px;
  }
  .Product-Card .card-inner .blog-content{
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .Menu-List .popular-inner-box {
    padding:20px 35px 20px 0px !important;
  }
.option_item .option_inner .tickmark img{
    width: 30px !important;
}
.option_item{
    margin: 0 !important;
    margin-bottom: 15px !important;
}
.option_item .option_inner .tickmark{
    top: 6px !important;
    right: -10px !important;
}
.Menu-List .popular-inner-box .popular-inner-item .text h5{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}
}




.option_item .option_inner .tickmark img{
    width: 35px;
}
.Menu-List {
  display: flex;
  gap: 12px;
  background-color: #ffffdb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
 border-radius: 12px;
 flex-direction: row;
 align-items: center;
}
.Menu-List:hover .Menu-List-img img {
  transform: scale(1.2);
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five {
  color: #fff;
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five span svg {
  stroke: currentColor;
  color: #fff;
  transition: all 0.3s;
}
.Menu-List .Menu-List-img {
  overflow: hidden;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  overflow: hidden;
  flex: 0 0 50%;
}
.Menu-List .Menu-List-img .Menu-List-img-overlay {
  position: absolute;
  top: 64px;
  left: 12px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 6px;
  background: rgba(0, 9, 41, 0.80);
  z-index: 11;
}
.Menu-List .Menu-List-img .Menu-List-img-overlay .icon {
  line-height: 0;
}
.Menu-List .Menu-List-img .Menu-List-img-overlay .text p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}
.Menu-List .Menu-List-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  animation: shine 4s linear infinite;
}
.Menu-List .Menu-List-img img {
  transition: all 0.3s ease-out 0s;
}
.Menu-List .popular-inner-box {
  padding: 15px 35px 15px 0px;
  flex: 0 0 50%;
}
.Menu-List .popular-inner-box .Menu-List-text {
  padding: 0px 0 5px 0;
}
.Menu-List .popular-inner-box .Menu-List-text h3 {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  margin: 0 0 5px 0;
  color: #000;
}
.Menu-List .popular-inner-box .popular-inner-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.Menu-List .popular-inner-box .popular-inner-item:last-child {
  margin-bottom: 0;
}
.Menu-List .popular-inner-box .popular-inner-item .icon {
  line-height: 0;
}
.Menu-List .popular-inner-box .popular-inner-item .text h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
  text-align: left;
}
.popular-item-mt-30px {
  margin-top: 30px;
}
@keyframes shine {
  100% {
    left: 125%;
  }
 }
 .title{    
  font-size:20px;
  color: #e4c815;
  margin: 0;
  padding: 0 20px 20px 0px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
  display:inline;
 }

 /** Button CSS **/

 

.Bhagona-Btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1em;
    color: #ffffff;
    text-transform: capitalize;
    background: #e4c815;
    background-size: 200% auto;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.Bhagona-Btn:hover {
    background-position: right center;
}

.menu-list{
    padding: 50px 0;
}




/**  Login Page CSS  **/


.pr-2{
  padding-right: 5px;
}
/* ===== COLOR VARIABLES ===== */



/* ===== BODY - BACKGROUND IMAGE ===== */

body {
  background: #9a90f5;
}

/* ===== Reusable CSS ===== */

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
}

/* ===== WRAPPER ===== */

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}

.login-box {
  position: relative;
  width: 450px;
  border: 3px solid #e4c815;
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  
}

.login-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4c815;
  width: 150px;
  height: 80px;
  border-radius: 0 0 20px 20px;
}

.login-header span {
  font-size: 25px;
  color: #fff;
}
.login-header img{
    width: 85px;
    // height: 100px;
}

.login-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 #e4c815;
}

.login-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 #e4c815;
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background: transparent;
  color: #000000;
  padding-inline: 20px 50px;
  border: 2px solid #e4c815;
  border-radius: 30px;
  outline: none;
}

#user {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: 12px;
  left: 20px;
  transition: 0.2s ease-in-out;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: #e4c815;
  border-radius: 30px;
  color: #fff;
  padding: 3px 10px;
}

// .icon {
//   position: absolute;
//   top: 18px;
//   right: 25px;
//   font-size: 20px;
//   cursor: pointer;
// }

.bx-hide {
  content: "\eb2c"; /* Hide icon */
}

.bx-show {
  content: "\eb25"; /* Show icon */
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.input-submit {
  width: 100%;
  height: 35px;
  background: #e4c815;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #fff;
}

.input-submit:hover {
  background: #1d0db2;
}

.register {
  text-align: center;
}

.register a {
  font-weight: 500;
}

a {
  color: #e4c815;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login-box {
    padding: 7.5em 1.5em 4em 2.5em;
  }
  .menu-list{
    padding: 20px 0 !important;
  }
}

/* For tablets and larger phones */
@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 10px;
  }
  .login-box {
    width: 80%; /* Adjust width */
    padding: 5em 1.5em 1em 1.5em; /* Adjust padding */
  }
  .modal-content {
    width: 70%; /* Adjust modal width */
  }
}

/* For smaller screens like phones */
@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 0px;
  }
  .login-box {
    padding: 7.5em 1.5em 4em 2.5em;
  }
  .modal-content {
    width: 90%; /* Adjust modal width */
  }
  
    .remember-forgot {
   font-size: 11px;
   margin: 0 10px;
  }
/* Hide the default checkbox */
input[type="checkbox"] {
    width: 11px; /* Set width */
    height: 11px; /* Set height */
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  
}





/** Select Event Menu CSS Start **/

@media (min-width: 300px) and (max-width: 776px) {

.Event-Menu-List {

  flex-direction: column !important;
}

}

.Event-Menu-List-section{
    padding: 30px 15px;
}
.Event-Menu-List {
  display: flex;
  gap: 12px;
  background-color: #fff0e3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
 border-radius: 12px;
 flex-direction: row;
 align-items: center;
}
.Event-Menu-List:hover .Event-Menu-List-img img {
  transform: scale(1.2);
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five {
  color: #fff;
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}
.Event-Menu-List:hover .popular-inner-item-btn .main-btn-five span svg {
  stroke: currentColor;
  color: #fff;
  transition: all 0.3s;
}
.Event-Menu-List .Event-Menu-List-img {
  overflow: hidden;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  overflow: hidden;
  flex: 0 0 50%;
  padding: 12px;
}
.Event-Menu-List .Event-Menu-List-img .Event-Menu-List-img-overlay {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 6px;
  background: rgba(0, 9, 41, 0.80);
  z-index: 11;
}
.Event-Menu-List .Event-Menu-List-img .Event-Menu-List-img-overlay .icon {
  line-height: 0;
}
.Event-Menu-List .Event-Menu-List-img .Event-Menu-List-img-overlay .text p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}
.Event-Menu-List .Event-Menu-List-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  animation: shine 4s linear infinite;
}
.Event-Menu-List .Event-Menu-List-img img {
  transition: all 0.3s ease-out 0s;
  border-radius: 12px;
}
.Event-Menu-List .popular-inner-box {
      width: 100%;
    padding: 20px;
}
.Event-Menu-List .popular-inner-box .Event-Menu-List-text {
  padding: 0px 0 5px 0;
}
.Event-Menu-List .popular-inner-box .Event-Menu-List-text h3 {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  margin: 0 0 5px 0;
}
.Event-Menu-List .popular-inner-box .popular-inner-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.Event-Menu-List .popular-inner-box .popular-inner-item:last-child {
  margin-bottom: 0;
}
.Event-Menu-List .popular-inner-box .popular-inner-item .icon {
  line-height: 0;
}
.Event-Menu-List .popular-inner-box .popular-inner-item .text h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
  text-align: left;
}

@keyframes shine {
  100% {
    left: 125%;
  }
 }


/** Form CSS Start  **/
.form-group{
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4c815;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    
    border: 2px solid #bebed2;
    transition: all .3s;
}
.form p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
    transition: all .3s;
}
button {
    padding: 8px 12px;
    margin: 8px 0 0;
    
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}
button:hover {
    background: #78788c;
    color: #fff;
}
.tright{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ui-menu{
    max-height: 150px;
    overflow: auto;
}
.ui-menu .ui-menu-item{
    padding:5px;
    font-size: 14px;
}
.relative{
    position: relative;
}
.relative i.fa:before{
    color: #fff;
    padding: 10px;
    position: absolute;
    left: -3px;
    text-align: center;
    font-size: 14px;
}

.relative i.fa{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    width: 0;
    height: 0;
    z-index: 99;
    border-left: 20px solid transparent;
    border-right: 30px solid #e4c815;
    border-bottom: 34px solid #e4c815;
    transition: all 0.15s ease-in-out;

}
.form-control:focus{
    border-color: #e4c815;
    // box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(30, 102, 195);
}
.relative input:focus + i.fa{
    border-left: 20px solid transparent;
    border-right: 30px solid #e4c815;
    border-bottom: 34px solid #e4c815;
}
.relative input:focus + i.fa:before{
    color: #fff;
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child){
    border-radius: 0 4px 4px 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}

/* --- Thanks Message Popup --- */
.thanks{
    max-width: calc(100vw - 40px);
    width: 200px;
    height: auto;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .3s;
}
.thanks h4,
.thanks p{
    color: #fff;
    text-align: center;
}

/* --- Animated Buttons --- */
.movebtn{
    background-color: transparent;
    display:inline-block;
    width:auto;
    background-image: none;
    padding: 6px 22px;
    border-radius: 40px;
    margin-bottom:20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    font-size: 14px;
    font-weight: 600;
}
.movebtnre {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color:#ff5501;
}
.movebtnsu {
    border: 2px solid #e4c815;
    box-shadow: inset 0 0 0 0 #e4c815;
    color: #e4c815;
}
.movebtnre:focus,
.movebtnre:hover,
.movebtnre:active {
    background-color: transparent;
    color: #FFF;
    border-color: #ff5501;
    box-shadow: inset 96px 0 0 0 #ff5501;
}
.movebtnsu:focus,
.movebtnsu:hover,
.movebtnsu:active {
    background-color: transparent;
    color: #FFF;
    border-color: #e4c815;
    box-shadow: inset 96px 0 0 0 #e4c815;
}


/* --- Media Queries --- */

@media only screen and (max-width: 600px) {
    p:before{
        content: attr(type);
        width: 100%
    }
    input{
        width: 100%;
    }
}


.custom-btn {
  width: 100%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
}




/*ABOUT*/

.about {
    position: relative;
    z-index: 1;
    background: url('https://i.postimg.cc/d1MzCdy2/about-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    text-align: center;
}

    .about .h2 { color: #fff; }

.about-top { margin-bottom: 120px; }
    .about-top .section-title { margin-bottom: 20px; }
    .about-top .section-text { color: #fff; font-size: 26px; margin-bottom: 60px; }

.about-list { display: grid; grid-template-columns: 1fr; gap: 30px; }
.about-card { background: #fff; padding: 40px; border-radius: 12px; box-shadow: 0 2px 4px hsla(0, 0%, 0%, .1); }
    .about-card .card-title { margin-bottom: 15px; }
    .about-card .card-text { color: hsl(180, 3%, 28%); }

.card-icon {
    color: hsl(2, 100%, 69%);
    font-size: 45px;
    width: max-content;
    margin-inline: auto;
    margin-bottom: 15px;
}

.about-bottom-banner { margin-bottom: 120px; }
    .about-bottom-banner img { width: 100%; height: 100%; }

.about-bottom .section-title { margin-bottom: 20px; }
.about-bottom .section-text { color: #fff; font-size: 26px; margin-bottom: 40px; }
.about-bottom .btn-secondary { color: #fff; margin-inline: auto; }



/*MEDIA QUERIES*/

@media(min-width: 450px) {
    :root {
        --fs-1: 60px;
    }

    .h1, .h2 { font-weight: var(--fw-700); }
    .btn { padding-block: 15px; }

    .navbar { left: auto; width: 300px; }

    .hero { padding: 140px 0 160px; }
    .shape-content { top: -70px; right: -260px; }

    .about-card .card-title { padding-inline: 40px; }
    .about-bottom-banner { max-width: 400px; margin-inline: auto; margin-bottom: 40px; }
    .about-bottom-content { padding-inline: 50px; }

    .features .h2 { --fs-2: 32px; }

    .cta-title { --fs-1: 42px; }
    .cta-form { display: flex; justify-content: center; align-items: flex-end; gap: 30px; }
    .cta input { margin-bottom: 0; }
    .cta .btn-secondary { min-width: max-content; }

    .contact-title { --fs-2: 32px; }
    .contact-banner { max-width: 300px; margin-inline: auto; }
}

@media(min-width: 560px) {
    .container { max-width: 550px; margin-inline: auto; }

    .navbar-wrapper { position: relative; }
    .navbar { top: calc(100% + 15px); right: 0; }

    .hero-content, .about-bottom-content { text-align: left; }
    .hero .btn-primary, .about-bottom .btn-secondary { margin-inline: 0; }
    .shape-content { top: -156px; right: -152px; }

    .footer-brand { margin-bottom: 40px; }
    .footer-link-box { display: grid; grid-template-columns: 1fr 1fr; }
}

@media(min-width: 768px) {
    :root {
        --fs-2: 35px;
        --fs-4: 20px;
    }

    .container { max-width: 740px; }

    .about-list { grid-template-columns: 1fr 1fr; }

    .about-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

        .about-card .card-title { padding-inline: 0; }

    .contact-title { --fs2: 42px; }
}

@media(min-width: 1024px) {
    .container { max-width: 950px; }

    .navbar-menu-btn { display: none; }

    .navbar {
        max-height: unset;
        visibility: visible;
        position: static;
        width: auto;
        background: none;
        pointer-events: all;
        overflow: visible;
        display: flex;
    }

    .navbar-list {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
    }

    .nav-link { opacity: 1; padding: 0 15px; }
    .navbar .btn-primary { display: block; }

    .hero-content { max-width: 550px; }

    .hero-banner {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 500px;
        padding-top: 500px;
        background: url('https://i.postimg.cc/htTB3ywY/hero-banner.png') no-repeat;
        background-size: contain;
    }

    .about-top .section-text { max-width: 650px; margin-inline:  auto; }
    .about-list { grid-template-columns: repeat(3, 1fr); }
    .about-bottom { display: flex; justify-content: space-between; align-items: center; }
    .about-bottom-banner { margin-bottom: 0; height: 330px; }
    .about-bottom-content { padding-inline: 0; width: 50%; }

    .features :is(.section-title .section-text) { max-width: 650px; margin-inline: auto; }
    .features-item { display: flex; align-items: center; gap: 50px; }
        .features-item:last-child { flex-direction: row-reverse; }
    .features-item-banner { margin-inline: 0; margin-bottom: 0; }
    .feature-item-content { width: 50%; text-align: left; }

    .cta-card > * {max-width: 500px; margin-inline: auto; }

    .contact .container { display: flex; justify-content: space-between; align-items: center; gap: 50px; }
    .contact-content { max-width: 400px; }
    .contact-title { text-align: left; }
    .contact-form { width: 50%; }

    .footer-top .container { display: flex; justify-content: space-between; align-items: center; gap: 50px; }
    .footer-brand, .footer-link-list:not(:last-child) { margin-bottom: 0; }
    .footer-link-box { grid-template-columns: repeat(4, 1fr); gap: 50px; } 
}

@media(min-width: 1200px) {
    
    .about-bottom-banner { height: 400px; }
}

.form-control{
  font-size: 14px !important;
    font-weight: 500 !important;
}


.custom-toolbar {
  padding-left: 10px;
  padding-right: 10px;
}

.custom-title {
  padding: 0 10px;
  font-size: 15px;
}



.custom-toolbar .fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:10px;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:#e4c815;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: #f7f7f7;
  border-style:solid;
}
.custom-toolbar .fa-circle {
  color:#e4c815;
}
.custom-toolbar .button-inner{
  color: #000 !important;
}
.custom-toolbar .red-cart {
	color: #e4c815; background:#f7f7f7;
}
.custom-toolbar .fa-stack-2x {
    font-size: 1.35em !important;
    top: 10px;

}

body,.bg-orange,.ion-page{
  background: #e4c815;
  height: 100%;
}