

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0px;
  background: linear-gradient(to right, #f99747, #f99747);
  width: 100%;
  z-index: 1000;
}

.header-box {
  max-width: 100rem;
  padding: 10px 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
  align-items: center;
}

.nav-links {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #FAFAFA;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid #FAFAFA;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: #FAFAFA;
  color: #b54803;
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: #FAFAFA;
}

.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: #FAFAFA;
  padding: 0 15px;
  letter-spacing: 1px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link > a > i {
  margin-left: .2rem;
}

.nav-link:hover > a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: #FAFAFA;
  color: #1C6758;
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover > a {
  background-color: #1C6758;
  color: #FAFAFA;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #FAFAFA;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #FAFAFA;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: #1C6758;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover>.dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #FAFAFA;
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #FAFAFA;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b54803;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation .5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
            margin-top: 70px;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: #f99747;
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #289672;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover>.dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover>a>i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: transparent;
    color: #FAFAFA;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #b54803;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s;
  }

  .nav-link:hover .arrow {
    background-color: #f99747;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover > a {
    background-color: #29BB89;
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: #f99747;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: .7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}



.fa-stack[data-count]:after{
  position:absolute;
  right:-6px;
  top:-6px;
  content: attr(data-count);
  font-size:10px;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:#b54803;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:#b54803;
}

.red-cart {
	color: #b54803; background:#f99747;
}


ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta{
  margin-bottom: 12px;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #c2c2c2;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}




#texture {
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.08;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  filter: contrast(200%);
}
#signature {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-family: Georgia;
  font-style: italic;
  font-size: 12px;
  color: #60655f;
  text-decoration: none;
  transition: color 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
#signature:hover {
  color: #1d211c;
}

h1,
p {
  animation: translate-y-100 300ms cubic-bezier(0.165, 0.84, 0.44, 1.2) forwards;
  opacity: 0;
}

.payment-card h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 24px;
  animation-delay: 1100ms;
  color: #f77524;
}

.payment-card p {
  margin: 0;
  font-size: 13px;
  color: #60655f;
  animation-delay: 1150ms;
}

.payment-card .cta-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  animation: translate-y-100 600ms 2200ms cubic-bezier(0.19, 1, 0.22, 1)
    forwards;
  opacity: 0;
}

button {
  position: relative;
  height: 32px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f77524;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset,
    0 1px 3px 0 rgba(24, 25, 22, 0.1), 0 1px 2px -1px rgba(24, 25, 22, 0.1);
  border: 1px solid #f77524;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: transform 200ms cubic-bezier(0.165, -0.84, 0.44, 2),
    opacity 200ms ease, background-color 100ms ease;
  cursor: pointer;
}
button:hover {
  background: #f77524;
}
button:active {
  transform: scale(0.98);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04) inset;
}
button:active:before {
  opacity: 0.4;
}

button.secondary {
  color: #181916;
  background: white;
  box-shadow: var(--box-shadow);
  border: 1px solid #d9d9d6;
}
button.secondary:hover {
  background: #f8f8f6;
}
button.secondary:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04) inset;
}

.payment-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 448px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 7px;
  box-sizing: border-box;
}

/*
Apply left & right only box-shadow to a psuedo element using clip-path.

We cannot apply this to parent directly as clip-path clips the dashed border.

Only the last payment-card should have a bottom-facing box-shadow.
*/
.payment-card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  clip-path: inset(0px -15px 0px -15px);
}
.payment-card:nth-of-type(3):before {
  clip-path: inset(0px -15px -15px -15px);
}

.payment-card:first-of-type {
  animation: translate-y-100 500ms 1000ms cubic-bezier(0.19, 1, 0.22, 1.2)
    forwards;
  opacity: 0;
  z-index: 0;
}

.payment-card .payment-icon {
  width: 64px;
  height: 64px;
  border: 2px solid #ffffff;
  border-radius: 9999px;
  background: linear-gradient(to top, #f2f2f280, #e0e0e080);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06) inset;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

.payment-card .payment-icon:before {
  content: "\2713";
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  border-radius: 9999px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03);
  font-family: "arial";
  font-size: 32px;
  color: #f77524;
}

.payment-card:not(:first-of-type) {
  transform-origin: top;
  animation: unfold 500ms 1700ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-transform: perspective(500px) rotateX(-0.25turn);
  z-index: 1;
  opacity: 0.9;
}
.payment-card:nth-of-type(3) {
  animation-delay: 1950ms;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 1.4);
  z-index: 2;
}

/*
Use a pseudo element for dashed line.

A border-top applied to parent would curve due to border-radius.
*/
.payment-card:not(:first-of-type):after {
  position: absolute;
  top: -0.5px;
  left: 1%;
  content: "";
  width: 98%;
  height: 1px;
  border-top: 1px #d7dad7 dashed;
}

.payment-card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
.payment-card  ul > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.payment-card  ul > li span {
  font-size: 12px;
  font-weight: 500;
  color: #212121;
}
.payment-card ul > li span:first-of-type {
  color: #757575;
}

/* Animations */
@keyframes translate-y-100 {
  0% {
    transform: scale(0.9) translateY(0.5rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes unfold {
  to {
    transform: none;
    opacity: 1;
  }
}


.payment-section{
  display: grid;
    place-items: center;
    height: 100vh;
    background-size: 24px 24px;
    background-image: linear-gradient(to right, #e7e9e7 1px, transparent 1px), linear-gradient(to bottom, #e7e9e7 1px, transparent 1px);
    background-color: #eff1ef;
    
    color: #1d211c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    .payment-section::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 96px 96px;
    background-image: linear-gradient(to right, #dfe2df 1px, transparent 1px), linear-gradient(to bottom, #dfe2df 1px, transparent 1px);
}
.payment{
  display: grid;
    place-items: center;
}
