.products{
  padding: 40px 0;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  
}

.bg-orange{
  background: linear-gradient(to right, #FDDE90, #F77524);
 
}
.Product-Card {
    position: relative;
    z-index: 1;
    margin: 15px;
}
.Product-Card .card-inner {
    padding: 20px 20px;
    background: #ececec;
    clip-path: polygon(0% 9.276%, 0% 9.276%, 0.157% 7.772%, 0.613% 6.344%, 1.342% 5.013%, 2.319% 3.798%, 3.52% 2.717%, 4.921% 1.79%, 6.496% 1.035%, 8.22% 0.473%, 10.07% 0.121%, 12.019% 0%, 87.981% 0%, 87.981% 0%, 89.93% 0.121%, 91.78% 0.473%, 93.504% 1.035%, 95.079% 1.79%, 96.48% 2.717%, 97.681% 3.798%, 98.658% 5.013%, 99.387% 6.344%, 99.843% 7.772%, 100% 9.276%, 100% 82.629%, 100% 82.629%, 99.99% 82.925%, 99.959% 83.219%, 99.909% 83.511%, 99.839% 83.799%, 99.749% 84.085%, 99.64% 84.366%, 99.512% 84.643%, 99.364% 84.914%, 99.198% 85.18%, 99.014% 85.439%, 90.069% 97.244%, 90.069% 97.244%, 89.65% 97.736%, 89.171% 98.186%, 88.638% 98.592%, 88.057% 98.951%, 87.432% 99.262%, 86.77% 99.521%, 86.074% 99.727%, 85.351% 99.877%, 84.606% 99.969%, 83.844% 100%, 12.019% 100%, 12.019% 100%, 10.07% 99.879%, 8.22% 99.527%, 6.496% 98.965%, 4.921% 98.21%, 3.52% 97.283%, 2.319% 96.202%, 1.342% 94.987%, 0.613% 93.656%, 0.157% 92.228%, 0% 90.724%, 0% 9.276%);
}
.Product-Card .card-inner .image-area {
    overflow: hidden;
    border-radius: 20px;
}
.Product-Card .card-inner .image-area::before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.Product-Card:hover .card-inner .image-area::before {
    -webkit-animation: circle 0.75s;
    animation: circle 0.95s;
}
.Product-Card .card-inner .image-area a {
    transition: all 0.5s ease;
}
.Product-Card:hover .card-inner .image-area a img {
    transform: scale(110%);
}
.Product-Card .card-inner .image-area a img {
    transform: scale(100%);
    transition: all 0.5s ease;
}
.Product-Card .card-inner .blog-content {
    margin-top: 20px;
    margin-bottom: 12px;
}
.Product-Card .card-inner .blog-content .tag {
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 9px 22px 7px;
    border: 1px solid #ff4438;
    max-width: max-content;
    border-radius: 100px;
    color: #ff4438;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
}
.Product-Card .card-inner .blog-content .tag img{
  width: 18px;
  height: 18px;
}
.Product-Card .card-inner .blog-content .title {
    text-transform: capitalize;
}
.Product-Card .blog-btn {
    width: 50px;
    height: 50px;
    line-height: 65px;
    border: 5px solid #fff;
    background-image: linear-gradient(to right, #ff4438 0%, #ffbe36 50%, #ff4438 100%);
    background-size: 200% auto;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 1;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    transform: scale(100%);
    align-items: center;
    justify-content: center;
}
.Product-Card:hover .blog-btn {
    transform: rotate(45deg);
}



@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}



/** Menu CSS Start **/




.option_item {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 0px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 2px solid transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}


.option_item .option_inner .icon .fab {
  font-size: 32px;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked ~ .option_inner.facebook {
  border-color: #585c68;
  color: #585c68;
}

.option_item .option_inner .tickmark {
  
    position: absolute;
    transform: scale(0.6) translate(-50%,-50%);
    transition: all 300ms ease;
    right: -16px;
    top: 6px;
    z-index: 1;
  display: none;
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}





/** Chef CSS Start **/
@media (min-width: 300px) and (max-width: 776px) {
  .col-sm-4{
    width: 50% !important;
    padding: 0 !important;
  }
  .col-sm-6{
    padding: 0 !important;
  }
  .row{
    margin: 0 !important;
  }
  .Product-Card{
    margin:8px !important;
  }
  .Product-Card .card-inner .blog-content .tag img{
    display: none !important;
  }
  .Product-Card .card-inner .blog-content .tag{
    font-size: 11px;
  }
  .Product-Card .blog-btn{
    width: 35px;
    height: 35px;
  }
  .Product-Card .card-inner{
    padding: 12px;
  }
  .Product-Card .card-inner .blog-content{
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .Menu-List .popular-inner-box {
    padding:20px 35px 20px 0px !important;
  }
.option_item .option_inner .tickmark img{
    width: 40px !important;
}
.option_item{
    margin: 0 !important;
    margin-bottom: 15px !important;
}
.option_item .option_inner .tickmark{
    top: 5px !important;
    right: -18px !important;
}
.Menu-List .popular-inner-box .popular-inner-item .text h5{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}
}




.option_item .option_inner .tickmark img{
    width: 35px;
}
.Menu-List {
  display: flex;
  gap: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
 border-radius: 12px;
 flex-direction: row;
 align-items: center;
}
.Menu-List:hover .Menu-List-img img {
  transform: scale(1.2);
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five {
  color: #fff;
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}
.Menu-List:hover .popular-inner-item-btn .main-btn-five span svg {
  stroke: currentColor;
  color: #fff;
  transition: all 0.3s;
}
.Menu-List .Menu-List-img {
  overflow: hidden;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  overflow: hidden;
  flex: 0 0 50%;
}
.Menu-List .Menu-List-img .Menu-List-img-overlay {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 6px;
  background: rgba(0, 9, 41, 0.80);
  z-index: 11;
}
.Menu-List .Menu-List-img .Menu-List-img-overlay .icon {
  line-height: 0;
}
.Menu-List .Menu-List-img .Menu-List-img-overlay .text p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}
.Menu-List .Menu-List-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  animation: shine 4s linear infinite;
}
.Menu-List .Menu-List-img img {
  transition: all 0.3s ease-out 0s;
}
.Menu-List .popular-inner-box {
  padding: 15px 35px 15px 0px;
  flex: 0 0 50%;
}
.Menu-List .popular-inner-box .Menu-List-text {
  padding: 0px 0 5px 0;
}
.Menu-List .popular-inner-box .Menu-List-text h3 {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  margin: 0 0 5px 0;
  color: #ff4438;
}
.Menu-List .popular-inner-box .popular-inner-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.Menu-List .popular-inner-box .popular-inner-item:last-child {
  margin-bottom: 0;
}
.Menu-List .popular-inner-box .popular-inner-item .icon {
  line-height: 0;
}
.Menu-List .popular-inner-box .popular-inner-item .text h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
  text-align: left;
}
.popular-item-mt-30px {
  margin-top: 30px;
}
@keyframes shine {
  100% {
    left: 125%;
  }
 }
 .title{    
  font-size:20px;
  color: #ff3643;
  margin: 0;
  padding: 0 20px 20px 0px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
  display:inline;
 }

 /** Button CSS **/

 

.Bhagona-Btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1em;
    color: #ffffff;
    text-transform: capitalize;
    background-image: linear-gradient(to right, #ff4438 0%, #ffbe36 50%, #ff4438 100%);
    background-size: 200% auto;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.Bhagona-Btn:hover {
    background-position: right center;
}

.menu-list{
    padding: 50px 0;
}