.products{
  padding: 40px 0;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  
}

.bg-orange{
  background: linear-gradient(to right, #FDDE90, #F77524);
 
}
.Product-Card {
    position: relative;
    z-index: 1;
    margin: 15px;
}
.Product-Card .card-inner {
    padding: 20px 20px;
    background: #ececec;
    clip-path: polygon(0% 9.276%, 0% 9.276%, 0.157% 7.772%, 0.613% 6.344%, 1.342% 5.013%, 2.319% 3.798%, 3.52% 2.717%, 4.921% 1.79%, 6.496% 1.035%, 8.22% 0.473%, 10.07% 0.121%, 12.019% 0%, 87.981% 0%, 87.981% 0%, 89.93% 0.121%, 91.78% 0.473%, 93.504% 1.035%, 95.079% 1.79%, 96.48% 2.717%, 97.681% 3.798%, 98.658% 5.013%, 99.387% 6.344%, 99.843% 7.772%, 100% 9.276%, 100% 82.629%, 100% 82.629%, 99.99% 82.925%, 99.959% 83.219%, 99.909% 83.511%, 99.839% 83.799%, 99.749% 84.085%, 99.64% 84.366%, 99.512% 84.643%, 99.364% 84.914%, 99.198% 85.18%, 99.014% 85.439%, 90.069% 97.244%, 90.069% 97.244%, 89.65% 97.736%, 89.171% 98.186%, 88.638% 98.592%, 88.057% 98.951%, 87.432% 99.262%, 86.77% 99.521%, 86.074% 99.727%, 85.351% 99.877%, 84.606% 99.969%, 83.844% 100%, 12.019% 100%, 12.019% 100%, 10.07% 99.879%, 8.22% 99.527%, 6.496% 98.965%, 4.921% 98.21%, 3.52% 97.283%, 2.319% 96.202%, 1.342% 94.987%, 0.613% 93.656%, 0.157% 92.228%, 0% 90.724%, 0% 9.276%);
}
.Product-Card .card-inner .image-area {
    overflow: hidden;
    border-radius: 20px;
}
.Product-Card .card-inner .image-area::before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.Product-Card:hover .card-inner .image-area::before {
    -webkit-animation: circle 0.75s;
    animation: circle 0.95s;
}
.Product-Card .card-inner .image-area a {
    transition: all 0.5s ease;
}
.Product-Card:hover .card-inner .image-area a img {
    transform: scale(110%);
}
.Product-Card .card-inner .image-area a img {
    transform: scale(100%);
    transition: all 0.5s ease;
}
.Product-Card .card-inner .blog-content {
    margin-top: 30px;
}
.Product-Card .card-inner .blog-content .tag {
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 9px 22px 7px;
    border: 1px solid #ff4438;
    max-width: max-content;
    border-radius: 100px;
    color: #ff4438;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
}
.Product-Card .card-inner .blog-content .tag img{
  width: 18px;
  height: 18px;
}
.Product-Card .card-inner .blog-content .title {
    text-transform: capitalize;
}
.Product-Card .blog-btn {
    width: 50px;
    height: 50px;
    line-height: 65px;
    border: 5px solid #fff;
    background-image: linear-gradient(to right, #ff4438 0%, #ffbe36 50%, #ff4438 100%);
    background-size: 200% auto;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 1;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    transform: scale(100%);
    align-items: center;
    justify-content: center;
}
.Product-Card:hover .blog-btn {
    transform: rotate(45deg);
}



@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

