<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header>
  <ion-toolbar class="custom-toolbar">
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title class="custom-title">Check Out</ion-title>

    <!-- Cart Button with Badge -->
    <ion-buttons slot="end" style="    padding-right: 17px !important;
    padding-top: 8px;
">
      <div class="header-social-links">
        <div class="cart-icon" onclick="toggleCart()">
          <img src="https://cdn-icons-png.flaticon.com/512/777/777205.png" style="width: 30px;">
          <span class="cart-count">0</span>
        </div>
       
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">eventDetails</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <!-- Select Event Menu Start -->


<div >
			<div class="bg_color-dark-1 check-out">
				<div class="row">
					<div class="col-md-12">
						
<section class="Event-Menu-List-section">
  <div class="Event-Menu-List">
              <div class="">
                <img src="https://cbeditz.com/public/cbeditz/preview/wedding-marriage-couple-image-background-free-si9jz.jpg" alt="thumb">



              </div>
               <div class="products bg_color-dark-1">
      <div class="container menu-data">
        <div class="row">
          <div class="">
            <!-- Nav tabs -->
            <div class="">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#mobile-events" aria-controls="mobile-events" role="tab"
                    data-toggle="tab"><i class="fa-solid fa-helmet-safety pr-2"></i> Events </a></li>
                <li role="presentation"><a href="#mobile-services" aria-controls="mobile-services" role="tab" data-toggle="tab"><i
                      class="fa-solid fa-utensils pr-2"></i> Services </a></li>

              </ul>
              <!-- Tab panes -->
              <div class="tab-content p-0">
                <div role="tabpanel" class="tab-pane active" id="mobile-events">
                 <div class="popular-inner-box p-0">
                
      	<form class="form">
	  <div class="form-group">
		  <div class="relative">
			  <input class="form-control" id="name" type="date" pattern="[a-zA-Z\s]+" required="" autofocus="" title="Username should only contain letters. e.g. Piyush Gupta" autocomplete="" placeholder="Type your name here...">
			  <i class="fa fa-calendar"></i>
		  </div>
	  </div>
	  
	  
	  <div class="form-group">
	  	<div class="relative">
	  		<input class="form-control" type="text" required="" placeholder="How Many Members" value="250">
	  		<i class="fa fa-user"></i>
	  	</div>
	  </div>
	  <div class="form-group">
	  	<div class="relative">
	  	<input class="form-control" type="text" id="menu" required="" placeholder="Edit Your Menu">
	  	<i class="fa fa-suitcase"></i>
	  </div>	
	  </div>
		<div class="form-group">
	  	<div class="relative">
	  		<input class="form-control" type="text" id="chef" required="" placeholder="Edit Your Cheff" value="Hari Dasu">
	  		<i class="fa fa-user"></i>
	  	</div>
	  </div>
   
		<div class="form-group ">
      <button class="custom-btn btn-7"><span>Order Value : $25,000/-</span></button>
    </div>


     
	 
	</form>

	
              </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="mobile-services">
                 <div class="page-wrapper">
             
              <div class="accordion-group">
                <div class="accordion">
                  <input type="radio" class="ac-state" id="ac-1" name="ac-group-1">
                  <label for="ac-1" class="ac-trigger" tabindex="0">
                    <div class="ac-title">Poultry & Mutton (wholesaler)</div>
                    <div class="ac-icon">
                      <i class="ac-icon-close fa fa-plus"></i>
                      <i class="ac-icon-open fa fa-minus"></i>
                    </div>
                  </label>
                  <div class="ac-content">
                    <div class="ac-content-inner">
                      <div class="py-3 px-0">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="d-flex key-feature mb-2">
                              <div class="icon text-center rounded-pill me-3">
                                <img src="https://cdn-icons-png.flaticon.com/256/4050/4050257.png" class="align-middle"
                                  style="height: 32px; width: 32px;" alt="">
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">Mutton</h6>
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">50kg</h6>
                              </div>
                              <div>
                                <h6 class="mb-0 price">$55.00</h6>
                              </div>
                            </div>
                            
                            <div class="d-flex key-feature mb-2">
                              <div class="icon text-center rounded-pill me-3">
                                <img src="https://cdn3.iconfinder.com/data/icons/marine-life/100/04-512.png"
                                  class="align-middle" style="height: 32px; width: 32px;" alt="">
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">prawns</h6>
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">50kg</h6>
                              </div>
                              <div>
                                <h6 class="mb-0 price">$55.00</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="d-flex key-feature mb-2">
                              <div class="icon text-center rounded-pill me-3">
                                <img src="https://cdn-icons-png.flaticon.com/512/2002/2002611.png" class="align-middle"
                                  style="height: 32px; width: 32px;" alt="">
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">Chicken</h6>
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">50kg</h6>
                              </div>
                              <div>
                                <h6 class="mb-0 price">$55.00</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <input type="radio" class="ac-state" id="ac-2" name="ac-group-1">
                  <label for="ac-2" class="ac-trigger" tabindex="0">
                    <div class="ac-title">Kirana/grocery (wholesaler)</div>
                    <div class="ac-icon">
                      <i class="ac-icon-close fa fa-plus"></i>
                      <i class="ac-icon-open fa fa-minus"></i>
                    </div>
                  </label>
                  <div class="ac-content">
                    <div class="ac-content-inner">
                      <div class="py-3 px-0">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="d-flex key-feature mb-2">
                              <div class="icon text-center rounded-pill me-3">
                                <img src="https://cdn-icons-png.flaticon.com/512/541/541705.png" class="align-middle"
                                  style="height: 32px; width: 32px;" alt="">
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">Rice</h6>
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">50kg</h6>
                              </div>
                              <div>
                                <h6 class="mb-0 price">$55.00</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            
                            <div class="d-flex key-feature mb-2">
                              <div class="icon text-center rounded-pill me-3">
                                <img
                                  src="https://icons.veryicon.com/png/o/commerce-shopping/taofen-bar-category-icon-library/fresh-vegetables.png"
                                  class="align-middle" style="height: 32px; width: 32px;" alt="">
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">vegtables </h6>
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">50kg</h6>
                              </div>
                              <div>
                                <h6 class="mb-0 price">$55.00</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <input type="radio" class="ac-state" id="ac-3" name="ac-group-1">
                  <label for="ac-3" class="ac-trigger" tabindex="0">
                    <div class="ac-title">⁠Vegetables & leafs</div>
                    <div class="ac-icon">
                      <i class="ac-icon-close fa fa-plus"></i>
                      <i class="ac-icon-open fa fa-minus"></i>
                    </div>
                  </label>
                  <div class="ac-content">
                    <div class="ac-content-inner">
                     <div class="py-3 px-0">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="d-flex key-feature mb-2">
                              <div class="icon text-center rounded-pill me-3">
                                <img src="https://cdn-icons-png.flaticon.com/512/541/541705.png" class="align-middle"
                                  style="height: 32px; width: 32px;" alt="">
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">Rice</h6>
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">50kg</h6>
                              </div>
                              <div>
                                <h6 class="mb-0 price">$55.00</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            
                            <div class="d-flex key-feature mb-2">
                              <div class="icon text-center rounded-pill me-3">
                                <img
                                  src="https://icons.veryicon.com/png/o/commerce-shopping/taofen-bar-category-icon-library/fresh-vegetables.png"
                                  class="align-middle" style="height: 32px; width: 32px;" alt="">
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">vegtables </h6>
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0">50kg</h6>
                              </div>
                              <div>
                                <h6 class="mb-0 price">$55.00</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                              <button class="custom-btn btn-7"><span>Order Value : $25,000/-</span></button>
                            </div>
            </div>


                </div>
                <div class="tright ">
	  	<a><button class="movebtn movebtnre" type="Reset"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back </button></a>
	  	<a><button class="movebtn movebtnsu" type="Submit" (click)="gotoOrdder()">Proceed <i class="fa fa-fw fa-paper-plane"></i></button></a>
	  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
              


            </div>
</section>
					</div>
				</div>
			</div>
</div>

  
  <!-- Select Event Menu End -->
</ion-content>
